@import "variables";

.section-episodes {
    width: 100%;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    margin-top: 2rem;
    height: 1203.5px;
    transform: skewY(-5deg);

    h3 {
    padding-top: 4rem;
    padding-left: 1rem;
    font-family: $font-sans;
    font-size: 2.25rem;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    transform: $normal-skew;
    }

}

.cntr-episodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transform: $normal-skew;

}