@import "variables";

footer {
    margin-top: 1.5rem;
    margin-bottom: 1.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-family: $font-mono;
        font-size: 0.875rem;
        line-height: 22px;
        color: $font-color;
    }
}

.cntr-rrss {
    
    margin-top: 1rem;
    width: 227px;
    max-width: 227px;
    display: flex;
    justify-content: space-between;
}