@import "variables";

.section-intro {

    padding-top: 1.8125rem;

    @media screen and (min-width: $desktop ) {

        font-size: 4rem;
        padding-top: 7.5rem;
    }

    h1 {

        padding-left: 1rem;
        font-family: $font-sans;
        font-size: 2.25rem;
        color: $font-color;
        letter-spacing: 0;
        line-height: 42px;
        font-weight: 400;
        text-align: left;
        
        @media screen and (min-width: $desktop ) {
            padding-left: 0px;
            font-size: 4rem;
            display: inline;
            &:first-child {
                padding-left: 12.5rem;
            }
        }
    }

    .underline {
        text-decoration: line-through;
    }

    .dot {

        @media screen and (min-width: $desktop ) {

            color: #0000EC;
            display: inline;
            
        }
    }

    p {
        padding: 1rem 0 2.25rem 1rem;
        font-family: $font-mono;
        font-size: 0.875rem;
        color: $font-color;
        text-align: left;
        letter-spacing: 0;
        line-height: 22px;

        @media screen and (min-width: $desktop ) {
            
            padding: 0 0 3.5rem 0;
            margin-left: 12.5rem;
            width: 628px;
            font-size: 1rem;
            line-height: 24px;
            text-align: left;
            
        }
    }

    .txt-extra {
        
        &::before {
            content: "Un ";
        }
        
           @media screen and (min-width: $desktop ) {

            &::before {
                content: "El portal de ";
            }
            
        }
    }

    .txt-extra-2 {

           @media screen and (min-width: $desktop ) {

            &::before {
                content: "s";
            }
            
        }

    }
    
    .txt-extra-3 {

        @media screen and (min-width: $desktop ) {

            &::before {
                content: " y la tecnología";
            }
            
        }
    }

    .cntr-button {
        display: flex;
        justify-content: center;

        @media screen and (min-width: $desktop ) {

            justify-content: flex-start;
            margin-left: 12.5rem;
            
        }
    }

    button {
        padding: 0px;
        width: 288px;
        height: 48px;
        line-height: 22px;
        @extend %button;

        @media screen and (min-width: $desktop ) {

            width: 226px;
            height: 56px;
            font-size: 18px;          
        }
    }
    
}