@import "variables";

.novedades {

    width: 100vw;
    height: 341px;
    margin-top: 2.62rem;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $desktop ) {

        height: 518px;
        clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
    }

    h3 {
        width: 288px;
        font-family: $font-sans;
        font-size: 2.25rem;
        font-weight: 300;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 42px;

        @media screen and (min-width: $desktop ) {
           width: 692px;
           font-size: 3rem;
        }
    }

    .cntr-button {
        margin-top: 2.25rem;

        button {
            padding: 0px;
            width: 288px;
            height: 48px;
            line-height: 22px;
            @extend %button;

            @media screen and (min-width: $desktop ) {
                width: 345px;
                font-size: 1.125rem;
             }
            
        }
    }

}

