/* FONTS */

$font-sans: 'IBM Plex Sans', sans-serif;
$font-mono: 'IBM Plex Mono', monospace;

/* DEVICES */

$desktop: 992px;

/* COLORS */

$bg-main: #FFFFFF;
$bg-button:#00F3BB;
$font-color: #060A24;

/* BUTTON STYLES*/

%button {
    background-color: $bg-button;
    font-family: $font-mono;
    font-weight: 500;
    font-size: 16px;
    color: $font-color;
    letter-spacing: 0;
    text-align: center;

    &:hover {
        background-image: linear-gradient(270deg, #0000FE 0%, #00F0B8 100%);
        color: #FFFFFF;
    }
}

/* NORMALIZE SKEW */

$normal-skew: skewY(8deg);

