@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* STYLES HEADER & NAV*/
/* FONTS */
/* DEVICES */
/* COLORS */
/* BUTTON STYLES*/
.section-intro button {
  background-color: #00F3BB;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
}

.section-intro button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background-image: linear-gradient(270deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

/* NORMALIZE SKEW */
header {
  width: 100%;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 19px;
}

@media screen and (min-width: 992px) {
  header {
    background-color: #FFFFFF;
    height: 80px;
    padding: 0px;
  }
}

header img {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 992px) {
  header img {
    width: 36px;
    height: 36px;
    margin-left: 100px;
  }
}

header nav .menu {
  /* HIDE MENU STYLES */
  /* BURGER MENU LINES */
  /* END BURGER MENU LINES */
}

header nav .menu ul {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 45px;
  right: 0;
  height: 0;
  list-style: none;
  -webkit-transition: height 0.5s ease;
  transition: height 0.5s ease;
  /* DISPLAYED MENU STYLES */
}

@media screen and (min-width: 992px) {
  header nav .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    position: unset;
    padding-right: 100px;
  }
}

header nav .menu ul li {
  position: relative;
  background: #0000EC;
  padding-bottom: 24px;
  padding-left: 16px;
}

header nav .menu ul li:first-child {
  padding-top: 16px;
}

@media screen and (min-width: 992px) {
  header nav .menu ul li:first-child {
    padding: 0px;
  }
}

header nav .menu ul li a {
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  header nav .menu ul li a {
    color: #060A24;
  }
  header nav .menu ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
  }
  header nav .menu ul li a:active {
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
  }
}

@media screen and (min-width: 992px) {
  header nav .menu ul li {
    padding-bottom: 0px;
    padding-left: 48px;
    background-color: #FFFFFF;
  }
}

header nav .menu span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 3px;
  background: #000;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

header nav .menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

@media screen and (min-width: 992px) {
  header nav .menu span {
    display: none;
  }
}

header nav .menu input {
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 200;
  position: absolute;
  /* X ANIMATION STYLES */
  /* X ANIMATION STYLES ENDS */
}

@media screen and (min-width: 992px) {
  header nav .menu input {
    height: 0px;
    width: 0px;
    visibility: hidden;
  }
}

header nav .menu input:checked ~ ul {
  height: 240px;
}

header nav .menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(3px, 4.5px);
          transform: rotate(45deg) translate(3px, 4.5px);
}

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
}

header nav .menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0px, 2px);
          transform: rotate(-45deg) translate(0px, 2px);
}

/* STYLES SECTION INTRO*/
/* FONTS */
/* DEVICES */
/* COLORS */
/* BUTTON STYLES*/
.section-intro button {
  background-color: #00F3BB;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
}

.section-intro button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background-image: linear-gradient(270deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

/* NORMALIZE SKEW */
.section-intro {
  padding-top: 1.8125rem;
}

@media screen and (min-width: 992px) {
  .section-intro {
    font-size: 4rem;
    padding-top: 7.5rem;
  }
}

.section-intro h1 {
  padding-left: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .section-intro h1 {
    padding-left: 0px;
    font-size: 4rem;
    display: inline;
  }
  .section-intro h1:first-child {
    padding-left: 12.5rem;
  }
}

.section-intro .underline {
  text-decoration: line-through;
}

@media screen and (min-width: 992px) {
  .section-intro .dot {
    color: #0000EC;
    display: inline;
  }
}

.section-intro p {
  padding: 1rem 0 2.25rem 1rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  color: #060A24;
  text-align: left;
  letter-spacing: 0;
  line-height: 22px;
}

@media screen and (min-width: 992px) {
  .section-intro p {
    padding: 0 0 3.5rem 0;
    margin-left: 12.5rem;
    width: 628px;
    font-size: 1rem;
    line-height: 24px;
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  .section-intro .txt-extra::before {
    content: " y la tecnología";
  }
}

.section-intro .cntr-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 992px) {
  .section-intro .cntr-button {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 12.5rem;
  }
}

.section-intro button {
  padding: 0px;
  width: 288px;
  height: 48px;
  line-height: 22px;
}

@media screen and (min-width: 992px) {
  .section-intro button {
    width: 226px;
    height: 56px;
    font-size: 18px;
  }
}

/* STYLES SECTION EPISODES*/
/* FONTS */
/* DEVICES */
/* COLORS */
/* BUTTON STYLES*/
.section-intro button {
  background-color: #00F3BB;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
}

.section-intro button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background-image: linear-gradient(270deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

/* NORMALIZE SKEW */
.section-episodes {
  margin-top: 5.5rem;
  width: 100%;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  height: 1203.5px;
  -webkit-transform: skewY(-8deg);
          transform: skewY(-8deg);
}

@media screen and (min-width: 992px) {
  .section-episodes {
    height: 1042.6px;
  }
}

.section-episodes h3 {
  padding-top: 3.5rem;
  padding-left: 1rem;
  margin-bottom: 1.3125rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  -webkit-transform: skewY(8deg);
          transform: skewY(8deg);
}

@media screen and (min-width: 992px) {
  .section-episodes h3 {
    padding-top: 9.9375rem;
    margin-left: 12.5rem;
    margin-bottom: 1.625rem;
    font-size: 48px;
  }
}

.cntr-episodes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: skewY(8deg);
          transform: skewY(8deg);
}

@media screen and (min-width: 992px) {
  .cntr-episodes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.episodes {
  width: 288px;
  height: 232px;
  border-style: none;
  margin-bottom: 0.6875rem;
}

@media screen and (min-width: 992px) {
  .episodes {
    width: 40.55vw;
    max-width: 584px;
    margin-bottom: 4.5rem;
  }
}

/* STYLES SECTION DE-DONDE-VENIMOS*/
@media screen and (min-width: 992px) {
  .section-de-donde {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 992px) {
  .cntr-img {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.phone-img {
  width: 320px;
  margin-top: -100px;
  position: relative;
}

@media screen and (min-width: 992px) {
  .phone-img {
    width: 457.6px;
  }
}

.de-donde-txt {
  padding: 1.6875rem 1rem 3.375rem 1rem;
}

@media screen and (min-width: 992px) {
  .de-donde-txt {
    width: 50%;
    height: 660px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.de-donde-txt p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

@media screen and (min-width: 992px) {
  .de-donde-txt p {
    width: 32.2vw;
    font-size: 1rem;
  }
}

.cntr-title {
  margin-bottom: 1.5rem;
}

.cntr-title h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
}

@media screen and (min-width: 992px) {
  .cntr-title h3 {
    font-size: 3rem;
    display: inline;
  }
}

/* STYLES SECTION INVITADOS*/
/* FONTS */
/* DEVICES */
/* COLORS */
/* BUTTON STYLES*/
.section-intro button {
  background-color: #00F3BB;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
}

.section-intro button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#0000FE), to(#00F0B8));
  background-image: linear-gradient(270deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

/* NORMALIZE SKEW */
@media screen and (min-width: 992px) {
  .invitados-title {
    margin-top: 4rem;
  }
}

.invitados-title h3 {
  padding-left: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 2.25rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  .invitados-title h3 {
    display: inline;
    font-size: 3rem;
    line-height: 62px;
    padding-left: 12.5rem;
  }
  .invitados-title h3:last-child {
    padding-left: 4px;
  }
}

.cntr-invitados-img {
  margin-top: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .cntr-invitados-img {
    margin-top: 2.25rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
}

.cntr-invitados-img img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */