* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* STYLES HEADER & NAV*/
@import "header-nav";

/* STYLES SECTION INTRO*/
@import "intro";

/* STYLES SECTION EPISODES*/
@import "episodes";

/* STYLES SECTION DE-DONDE-VENIMOS*/
@import "de-donde";

/* STYLES SECTION INVITADOS*/
@import "invitados";

/* STYLES SECTION TEMAS*/
@import "temas";

/* STYLES SECTION NOVEDADES*/
@import "novedades";

/* STYLES FOOTER*/
@import "footer";